ErrorDocument 404 /404.php
DirectoryIndex index.php

RewriteEngine on
RewriteRule ^p/(\d+)$ /index.php?id=$1 [L]

RewriteRule ^login/$ /login.php [L]
RewriteRule ^logout/$ /logout.php [L]
RewriteRule ^auth/$ /auth.php [L]
