<?
	define('MYSQL_USER', 'www-rw');
	define('MYSQL_PASS', 'ROOTPASSWORD');
	define('MYSQL_HOST', 'localhost');
	define('MYSQL_DB', 'thisismyj.am');

	define('COOKIE_SECRET',' SECRET-FOR-COOKIE-SIGNING');

	define('OAUTH_CONSUMER_KEY',	'twitter oauth key');
	define('OAUTH_CONSUMER_SECRET',	'twitter oauth secret');

	define('OAUTH_REQUEST_URL',	'https://api.twitter.com/oauth/request_token');
	define('OAUTH_ACCESS_URL',	'https://api.twitter.com/oauth/access_token');
	define('OAUTH_AUTHORIZE_URL',	'https://api.twitter.com/oauth/authorize');

	define('OAUTH_CALLBACK_URL',	'http:/thisismyj.am/auth/');

	define('OAUTH_PROTECTED_URL',	'http://api.twitter.com/1/statuses/user_timeline.json?count=1');
